<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body style="background-color:black">

 <div style="width:auto ">
        <img src="https://wallpaperaccess.com/full/3124570.jpg" class="d-block w-100" alt=" ">
    </div>
    <div id="contact" class="text-center" style="margin-bottom:60px">
        <div class="container text-center contect-section">
            <div class="col-md-9">
                <h3 style="color:white">Contact</h3>
                <div class="contact-item">
                    <p class="contact-details">
                        <span class="title"><b>Legal Name:</b></span>
                        <span>Pearltri Foods Private Limited</span>
                    </p>
                    <p class="contact-details">
                        <span class="title"><b>Head Office Address:</b></span>
                        <span>NO 13, VARADHANI COMPLEX, SARJAPUR OUTER RING ROAD,<br>BELLANDUR, Bengaluru (Bangalore) Urban,<br> Karnataka, 560103</span>
                    </p>
                    <p class="contact-details">
                        <span class="title"><b>Delivery Hotline:</b></span>
                        <span>080-43006111/+91-8095666650</span>
                    </p>
                    <p class="contact-details">
                        <span class="title"><b>Chef Manager:</b></span>
                        <span><b>ANKESH</b>,<br>Phone - +91 9591289194<br><a href="mailto:hk@mysite.com">hk@mysite.com</a><br /></span>
                    </p>
                    <p class="contact-details">
                        <span class="title"><b>Manager- Marketing &amp; Communications:</b></span>
                        <span><b>CHANDAN</b>,<br>Phone - +91 9972131903<br> <a href="mailto:usa@mysite.com">usa@mysite.com</a><br /></span>
                    </p>
                    <p class="contact-details">
                        <span class="title"><b>Op Manager</b></span>
                        <span><b>LOKESH</b>,<br>Phone - +91 9611525251<br>  <a href="mailto:support@mysite.com">support@mysite.com</a><br /></span>
                    </p>
                </div>
            </div>
        </div>
      
    </div>
    @*<h3 class="text-center text-light">Contact us</h3><br />

    <div class="row text-white">
        
        <div class="col-md-4">
            <b>Customer service:</b> <br />
            Phone: +1 129 209 291<br />
            E-mail: <a href="mailto:support@mysite.com">support@mysite.com</a><br />
            <br /><br />
            <b>Headquarter:</b><br />
            Company Inc, <br />
            Las vegas street 201<br />
            55001 Nevada, USA<br />
            Phone: +1 145 000 101<br />
            <a href="mailto:usa@mysite.com">usa@mysite.com</a><br />


            <br /><br />
            <b>Hong kong:</b><br />
            Company HK Litd, <br />
            25/F.168 Queen<br />
            Wan Chai District, Hong Kong<br />
            Phone: +852 129 209 291<br />
            <a href="mailto:hk@mysite.com">hk@mysite.com</a><br />


        </div>
    </div>*@


</body>
